<a href="https://colab.research.google.com/github/sindhu819/Spark-2020/blob/main/Copy_of_Spark_RDD_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **RDD Operation**

To run spark in Colab, we need to first install pyspark

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:9 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,742 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [794 kB]
Get:16 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [75.1 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,057 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [761 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [6,781 B]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,322 kB]
Get:21 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [840 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [10.5 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [32.7 kB]
Fetched 6,913 kB in 3s (2,360 kB/s)
Reading package lists... Done

In [ ]:
from pyspark import SparkContext
sc = spark.sparkContext

# Basic RDD operations

The goal of this exercise to explore basic RDD operations.

### Creating an RDD from an array###

In [ ]:
words = sc.parallelize (
   ["scala", 
   "java", 
   "hadoop", 
   "spark", 
   "akka",
   "spark vs hadoop", 
   "pyspark",
   "pyspark and spark"]
)

####How to see RDD's content

In [ ]:
coll = words.collect()# show all its content
print ("Elements in RDD: %s" % (coll))
print("The first 2 elements in RDD: %s" % (words.take(2)))#show jsut the first 2 elements

Elements in RDD: ['scala', 'java', 'hadoop', 'spark', 'akka', 'spark vs hadoop', 'pyspark', 'pyspark and spark']
The first 2 elements in RDD: ['scala', 'java']

In [ ]:
print(words.first()) # first is string
print(words.take(1)) # take is list

scala
['scala']

In [ ]:
type(words.take(1))

list

####How to get the size of an RDD

In [ ]:
words.count()
# len(words.collect()) # this works too

8

In [ ]:
len(words.collect())

8

#### How to get the first element of an RDD ####

In [ ]:
words.first() #string

'scala'

In [ ]:
words.take(1) # it's a list

['scala']

####Show the first few ramdon elements of an RDD

In [ ]:
words.takeSample(False, 4)# run a couple of times to see if you get the same result, why? 
#True is repeating and False is not repeating 
#change True to False and run again. What different do you see?  #

['spark', 'scala', 'pyspark and spark', 'java']

In [ ]:
words.takeSample(True,4)

['spark vs hadoop', 'pyspark', 'spark vs hadoop', 'spark vs hadoop']

###RDD Filtering###

In [ ]:
nums = sc.parallelize([1,2,3,4,5,6,7,8,9,10])

# filter operation 
y = nums.filter(lambda x: x % 2 == 0)
y.collect()
# [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
x=nums.filter(lambda x : x%2!=0)
x.collect()

[1, 3, 5, 7, 9]

In [ ]:
z=nums.filter(lambda x: x % 5 == 0)
z.collect()

[5, 10]

###RDD map###

In [ ]:
# Basic map example in python
array = sc.parallelize(["spark", "rdd", "example",  "sample", "example"])
array_with_1 = array.map(lambda x: (x,1))
print(array_with_1.collect())
# [('spark', 1), ('rdd', 1), ('example', 1), ('sample', 1), ('example', 1)]

# Another example of making tuple with string and it's length
array_with_length = array.map(lambda x: (x,len(x)))
print(array_with_length.collect())
# [('spark', 5), ('rdd', 3), ('example', 7), ('sample', 6), ('example', 7)]

[('spark', 1), ('rdd', 1), ('example', 1), ('sample', 1), ('example', 1)]
[('spark', 5), ('rdd', 3), ('example', 7), ('sample', 6), ('example', 7)]

In [ ]:
a=array.map(lambda x: (x,2))
a.collect()

[('spark', 2), ('rdd', 2), ('example', 2), ('sample', 2), ('example', 2)]

###RDD flatMap###

In [ ]:
# Basic map example in python
arrayfm = sc.parallelize(["spark rdd example", "sample example"])
 
# map operation will return Array of Arrays in following case (check the result)
arrayfm_expanded = arrayfm.map(lambda x: x.split(' '))
print(arrayfm_expanded.collect())
# [['spark', 'rdd', 'example'], ['sample', 'example']]
 
# flatMap operation will return an array of words in following case (check the result)
arrayfm_expanded_flat = arrayfm.flatMap(lambda x: x.split(' '))
print(arrayfm_expanded_flat.collect())
# ['spark', 'rdd', 'example', 'sample', 'example']

[['spark', 'rdd', 'example'], ['sample', 'example']]
['spark', 'rdd', 'example', 'sample', 'example']

In [ ]:
arrayfm_expanded_flat.distinct().collect()

['spark', 'rdd', 'example', 'sample']

In [ ]:
# another map example in python
num = sc.parallelize([[1,2, 3], [4, 5, 6]])
# map operation will return Array of Arrays in following case (check the result)
y = num.map(lambda x: x)
print(y.collect())
 
# flatMap operation will return an array of digits in following case (check the result)
z = num.flatMap(lambda x: x)
print(z.collect())

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3, 4, 5, 6]

### RDD reduce ###

In [ ]:
# reduce numbers 1 to 5 by adding them up
num5 = sc.parallelize([1,2,3,4,5])
cSum = num5.reduce(lambda current, next: current + next)
print("sum of all numbers: %d" % cSum)
# 15
 
# reduce numbers 1 to 5 by multiplying them
cMul = num5.reduce(lambda current, next: current * next)
print("product of all numbers: %d" %cMul)
# 120
 
# by defining a lambda reduce function 
def cumulativeSum(current, next):
    return current + next
 
cSum = num5.reduce(cumulativeSum)
print("sum of all numbers: %d" % cSum)
# 15

sum of all numbers: 15
product of all numbers: 120
sum of all numbers: 15

In [ ]:
def cumulativemul(current, next):
    return current * next
 
cmul = num5.reduce(cumulativemul)
print("sum of all numbers: %d" % cmul)
# 15

sum of all numbers: 120

In [ ]:
#Another long way to find out how many numbers are in the RDD
total_number = x.map(lambda x:1).reduce(lambda current, next: current + next)
print("There are %d numbers" % total_number)

There are 5 numbers

###We will import an csv file to illustrate some more RDD opearations.

In [ ]:
#1 Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#2. Get the file
#make sure you upload all your data files to your Google drive and change share->Advanced->change->anyone with the link can view
downloaded = drive.CreateFile({'id':'1ilCXuYltyjv1auHn8FY_Csksep9gz03c'}) # replace the id with id of file you want to access
downloaded.GetContentFile('video-years.csv')

## Example 1 ##

In [ ]:
records = sc.textFile('video-years.csv')
records.collect() # See what got imported into this RDD

['b6ea95c5-9aea-11e5-a6ca-8b496c707234,"Monsters Inc.",2001',
 'b6d734d1-9aea-11e5-a6ca-8b496c707234,"Stuart Little 2",2002',
 'b6c5cfb5-9aea-11e5-a6ca-8b496c707234,"Piglet\'s Big Movie",2003',
 'b6d22bc1-9aea-11e5-a6ca-8b496c707234,"Jimmy Neutron: Boy Genius",2001',
 'b6c31093-9aea-11e5-a6ca-8b496c707234,"The Country Bears",2002',
 'b6d89469-9aea-11e5-a6ca-8b496c707234,"The Jungle Book 2",2003',
 'b6cd70d5-9aea-11e5-a6ca-8b496c707234,"The Tigger Movie",2000',
 'b6c31095-9aea-11e5-a6ca-8b496c707234,"Tarzan & Jane",2002',
 'b6d9cce1-9aea-11e5-a6ca-8b496c707234,"Finding Nemo",2003']

In [ ]:
records.count()

9

In [ ]:
len(records.collect())

9

### Parse the records by using the flatMap method to create a collection of years.###

In [ ]:
#Let's get the 3rd part of each row, i.e., the year, and put it in an RDD
splits = records.map(lambda x: x.split(",")[2])
print (splits.collect())# Do we get all the year, and only the year, in this new RDD?

['2001', '2002', '2003', '2001', '2002', '2003', '2000', '2002', '2003']

In [ ]:
a=records.map(lambda x : x.split(",")[2])
a.collect()

['2001', '2002', '2003', '2001', '2002', '2003', '2000', '2002', '2003']

#### create another map that will hold the count for each year ####

In [ ]:
counts = splits.map(lambda x: (x, 1)).reduceByKey(lambda current, next: current+next)

In [ ]:
a.map(lambda x : (x,1)).reduceByKey(lambda x,y : x+y).collect()

[('2002', 3), ('2003', 3), ('2001', 2), ('2000', 1)]

#### print the year and the number of total occurence ####

In [ ]:
print(counts.collect())

[('2002', 3), ('2003', 3), ('2001', 2), ('2000', 1)]

## Example 2 ##

Chris’ favorite movies
**Fast and Furious,
Harry Potter**    
Jane’s favorite movie
**Harry Potter,
Gone with the wind**

###What are the movie(s) that both Chris and Jane like?###

In [ ]:
#Let's create an RDD to hold Chris' favorite movies
rdd_chris = sc.parallelize(["Fast and Furious", "Harry Potter"])
rdd_chris.collect()

['Fast and Furious', 'Harry Potter']

In [ ]:
#Let's create an RDD to hold Jane's favorite movies
rdd_jane = sc.parallelize(["Harry Potter", "Gone with the wind"])
rdd_jane.collect()

['Harry Potter', 'Gone with the wind']

In [ ]:
rdd_chris.intersection(rdd_jane).collect()

['Harry Potter']

###What are all the distinct movies that either Chris or Jane like?

In [ ]:
rdd_chris.union(rdd_jane).distinct().collect()

['Harry Potter', 'Fast and Furious', 'Gone with the wind']

###What movie Chris likes but is not Jane’s favorite?###

In [ ]:
rdd_chris.subtract(rdd_jane).collect()

['Fast and Furious']

##Example 2##

####Consider the movie title, duration, rating info below. ####

|Title                    |Duration (mins)|  User Rating|
|----------------         |-----      |-----|
|The Martian              |141            |7.6|
|Bridge of Spies          |141           |8.0 |
|The Imitation Game      |	113          |	8.0|          
|The Wolf of Wall Street  | 180         |	7.9|
|Creed  |132             |8.6|
|John Wick           |101     |7.2|
|The Hundred-Foot Journey| 122 |	7.3|

####Create an RDD out of this table####

In [ ]:
movies = sc.parallelize(['"The Martian", 141, 7.6',
                    '"Bridge of Spies", 141, 8.0',
                    '"The Imitation Game", 113, 8.0',
                    '"The Wolf of Wall Street", 180, 7.9',
                    '"Creed", 132, 8.6',
                    '"John Wick", 101, 7.2',
                    '"The Hundred-Foot Journey", 122, 7.3'])
movies.collect()

['"The Martian", 141, 7.6',
 '"Bridge of Spies", 141, 8.0',
 '"The Imitation Game", 113, 8.0',
 '"The Wolf of Wall Street", 180, 7.9',
 '"Creed", 132, 8.6',
 '"John Wick", 101, 7.2',
 '"The Hundred-Foot Journey", 122, 7.3']

####How many movies are in this list? ####

In [ ]:
movies.count()

7

In [ ]:
movies.count()

7

####what is the total duration of all the movies?

In [ ]:
mv=movies.map(lambda x: int(x.split(",")[1]))
print(mv.collect())

mv1=mv.reduce(lambda x,y:x+y)
print(mv1)

[141, 141, 113, 180, 132, 101, 122]
930

In [ ]:
movies_year = movies.map(lambda x:int(x.split(",")[1]))
print(movies_year.collect())
print("Total duration of movies: %d minutes" % movies_year.reduce(lambda current, next: current+next))

[141, 141, 113, 180, 132, 101, 122]
Total duration of movies: 930 minutes

####What’s the average user rating for all the movies?

In [ ]:
rating=movies.map(lambda x:float(x.split(",")[2]))
print(rating.collect())
rat=rating.reduce(lambda x,y:x+y)
print(rat/movies.count())

[7.6, 8.0, 8.0, 7.9, 8.6, 7.2, 7.3]
7.8

In [ ]:
movies_ratings = movies.map(lambda x:float(x.split(",")[2]))
print(movies_ratings.collect())
movies_rating_sum = movies_ratings.reduce(lambda current, next: current+next)
print("The average user rating for all movies is %.2f" % (movies_rating_sum/movies.count()))

[7.6, 8.0, 8.0, 7.9, 8.6, 7.2, 7.3]
The average user rating for all movies is 7.80

####How many movies are rated as 8.0?

In [ ]:
movies.filter(lambda x: float(x.split(",")[2])==8.0).count()

2

In [ ]:
movies_ratings.filter(lambda x: x==8.0).count()

2

####What’s the percentage of movies rated higher or equal to 8.0

In [ ]:
k=round((movies.filter(lambda x: float(x.split(",")[2])>=8.0).count()/movies.count())*100,1)
print("%.1f%%" %k)

42.9%

In [ ]:
movies_ratings.filter(lambda x: x>=8.0).count()/movies.count()

0.42857142857142855