<a href="https://colab.research.google.com/github/sindhu819/Spark-2020/blob/main/Copy_of_Linear_Regression_with_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Running Pyspark inÂ Colab**

To run spark in Colab, we need to first install pyspark

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [75.1 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:12 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [794 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [761 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [6,781 B]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:18 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,742 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,322 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [32.7 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [10.5 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,057 kB]
Get:23 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [840 kB]
Fetched 6,913 kB in 3s (2,050 kB/s)
Reading package lists... Done

Congrats! Your Colab is ready to run Pyspark. 

# EDA

The goal of this exercise to explore and analyze the Boston Housing dataset.   Load the dataset into your Colab directory from your local system:

In [ ]:
#1 Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#2. Get the file
#make sure you upload all your data files to your Google drive and change share->Advanced->change->anyone with the link can view
downloaded = drive.CreateFile({'id':'1o5Bx3CxENIdlEoyEclVBeQtOW4ipP_F5'}) # replace the id with id of file you want to access
downloaded.GetContentFile('BostonHousing.csv')

In [ ]:
# from pyspark.sql import SparkSession

# spark = SparkSession \
#     .builder \
#     .appName("Python Spark SQL basic example") \
#     .config("spark.some.config.option", "some-value") \
#     .getOrCreate()

In [ ]:
dataset = spark.read.csv('BostonHousing.csv',inferSchema=True, header =True)

In [ ]:
type(dataset)

pyspark.sql.dataframe.DataFrame

#<font color=blue> Info

In [ ]:
dataset.show()

+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm|  age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575| 65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.02731| 0.0| 7.07|   0|0.469|6.421| 78.9|4.9671|  2|242|   17.8| 396.9| 9.14|21.6|
|0.02729| 0.0| 7.07|   0|0.469|7.185| 61.1|4.9671|  2|242|   17.8|392.83| 4.03|34.7|
|0.03237| 0.0| 2.18|   0|0.458|6.998| 45.8|6.0622|  3|222|   18.7|394.63| 2.94|33.4|
|0.06905| 0.0| 2.18|   0|0.458|7.147| 54.2|6.0622|  3|222|   18.7| 396.9| 5.33|36.2|
|0.02985| 0.0| 2.18|   0|0.458| 6.43| 58.7|6.0622|  3|222|   18.7|394.12| 5.21|28.7|
|0.08829|12.5| 7.87|   0|0.524|6.012| 66.6|5.5605|  5|311|   15.2| 395.6|12.43|22.9|
|0.14455|12.5| 7.87|   0|0.524|6.172| 96.1|5.9505|  5|311|   15.2| 396.9|19.15|27.1|
|0.21124|12.5| 7.87|   0|0.524|5.631|100.0|6.0821|  5|311|   15.2|386.63|29.93|16.5|
|0.17004|12.5| 7.87|   0|0.524|6.004| 85.9|6.5921|  5|311|   15.2|386.71| 17.1|18.9|
|0.22489|12.5| 7.87|   0|0.524|6.377| 94.3|6.3467|  5|311|   15.2|392.52|20.45|15.0|
|0.11747|12.5| 7.87|   0|0.524|6.009| 82.9|6.2267|  5|311|   15.2| 396.9|13.27|18.9|
|0.09378|12.5| 7.87|   0|0.524|5.889| 39.0|5.4509|  5|311|   15.2| 390.5|15.71|21.7|
|0.62976| 0.0| 8.14|   0|0.538|5.949| 61.8|4.7075|  4|307|   21.0| 396.9| 8.26|20.4|
|0.63796| 0.0| 8.14|   0|0.538|6.096| 84.5|4.4619|  4|307|   21.0|380.02|10.26|18.2|
|0.62739| 0.0| 8.14|   0|0.538|5.834| 56.5|4.4986|  4|307|   21.0|395.62| 8.47|19.9|
|1.05393| 0.0| 8.14|   0|0.538|5.935| 29.3|4.4986|  4|307|   21.0|386.85| 6.58|23.1|
| 0.7842| 0.0| 8.14|   0|0.538| 5.99| 81.7|4.2579|  4|307|   21.0|386.75|14.67|17.5|
|0.80271| 0.0| 8.14|   0|0.538|5.456| 36.6|3.7965|  4|307|   21.0|288.99|11.69|20.2|
| 0.7258| 0.0| 8.14|   0|0.538|5.727| 69.5|3.7965|  4|307|   21.0|390.95|11.28|18.2|
+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
only showing top 20 rows

In [ ]:
dataset.head(2)

[Row(crim=0.00632, zn=18.0, indus=2.31, chas=0, nox=0.538, rm=6.575, age=65.2, dis=4.09, rad=1, tax=296, ptratio=15.3, b=396.9, lstat=4.98, medv=24.0),
 Row(crim=0.02731, zn=0.0, indus=7.07, chas=0, nox=0.469, rm=6.421, age=78.9, dis=4.9671, rad=2, tax=242, ptratio=17.8, b=396.9, lstat=9.14, medv=21.6)]

In [ ]:
dataset.show(3)#equivalent of .head() in Pandas

+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575|65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.02731| 0.0| 7.07|   0|0.469|6.421|78.9|4.9671|  2|242|   17.8| 396.9| 9.14|21.6|
|0.02729| 0.0| 7.07|   0|0.469|7.185|61.1|4.9671|  2|242|   17.8|392.83| 4.03|34.7|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
only showing top 3 rows

#<font color=blue> Shape

In [ ]:
dataset.toPandas().shape

(506, 14)

In [ ]:
print(dataset.count()) # it returns the number of rows
print(len(dataset.columns)) # it returns the number of columns

506
14

In [ ]:
dataset.count(),len(dataset.columns) # equivalent of .shape in Pandas

(506, 14)

#<font color=blue> Info

In [ ]:
dataset.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
crim       506 non-null float64
zn         506 non-null float64
indus      506 non-null float64
chas       506 non-null int32
nox        506 non-null float64
rm         506 non-null float64
age        506 non-null float64
dis        506 non-null float64
rad        506 non-null int32
tax        506 non-null int32
ptratio    506 non-null float64
b          506 non-null float64
lstat      506 non-null float64
medv       506 non-null float64
dtypes: float64(11), int32(3)
memory usage: 49.5 KB

In [ ]:
dataset.printSchema() # equivalent of dataset.info() in Pandas

root
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: integer (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- b: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)

#<font color =blue> describe

In [ ]:
dataset.toPandas().describe()

             crim          zn       indus  ...           b       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677083   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [ ]:
dataset.describe().show()

+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|              crim|                zn|             indus|              chas|                nox|                rm|               age|              dis|              rad|               tax|           ptratio|                 b|             lstat|              medv|
+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               506|               506|               506|               506|                506|               506|               506|              506|              506|               506|               506|               506|               506|               506|
|   mean|3.6135235573122535|11.363636363636363|11.136778656126504|0.0691699604743083| 0.5546950592885372| 6.284634387351787| 68.57490118577078|3.795042687747034|9.549407114624506| 408.2371541501976|18.455533596837967|356.67403162055257|12.653063241106723|22.532806324110698|
| stddev| 8.601545105332491| 23.32245299451514| 6.860352940897589|0.2539940413404101|0.11587767566755584|0.7026171434153232|28.148861406903595| 2.10571012662761|8.707259384239366|168.53711605495903|2.1649455237144455| 91.29486438415782| 7.141061511348571| 9.197104087379815|
|    min|           0.00632|               0.0|              0.46|                 0|              0.385|             3.561|               2.9|           1.1296|                1|               187|              12.6|              0.32|              1.73|               5.0|
|    max|           88.9762|             100.0|             27.74|                 1|              0.871|              8.78|             100.0|          12.1265|               24|               711|              22.0|             396.9|             37.97|              50.0|
+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [ ]:
dataset.describe().show()

+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|              crim|                zn|             indus|              chas|                nox|                rm|               age|              dis|              rad|               tax|           ptratio|                 b|             lstat|              medv|
+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               506|               506|               506|               506|                506|               506|               506|              506|              506|               506|               506|               506|               506|               506|
|   mean|3.6135235573122535|11.363636363636363|11.136778656126504|0.0691699604743083| 0.5546950592885372| 6.284634387351787| 68.57490118577078|3.795042687747034|9.549407114624506| 408.2371541501976|18.455533596837967|356.67403162055257|12.653063241106723|22.532806324110698|
| stddev| 8.601545105332491| 23.32245299451514| 6.860352940897589|0.2539940413404101|0.11587767566755584|0.7026171434153232|28.148861406903595| 2.10571012662761|8.707259384239366|168.53711605495903|2.1649455237144455| 91.29486438415782| 7.141061511348571| 9.197104087379815|
|    min|           0.00632|               0.0|              0.46|                 0|              0.385|             3.561|               2.9|           1.1296|                1|               187|              12.6|              0.32|              1.73|               5.0|
|    max|           88.9762|             100.0|             27.74|                 1|              0.871|              8.78|             100.0|          12.1265|               24|               711|              22.0|             396.9|             37.97|              50.0|
+-------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+

## <font color=blue> Null values

In [ ]:
dataset.toPandas().isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [ ]:
from pyspark.sql.functions import isnan, when, count, col
# equivalent of isnull().sum() in Pandas
dataset.select([count(when(isnan(c), c)).alias(c) for c in dataset.columns]).show()

+----+---+-----+----+---+---+---+---+---+---+-------+---+-----+----+
|crim| zn|indus|chas|nox| rm|age|dis|rad|tax|ptratio|  b|lstat|medv|
+----+---+-----+----+---+---+---+---+---+---+-------+---+-----+----+
|   0|  0|    0|   0|  0|  0|  0|  0|  0|  0|      0|  0|    0|   0|
+----+---+-----+----+---+---+---+---+---+---+-------+---+-----+----+

In [ ]:
dataset.select('chas').distinct().show()

+----+
|chas|
+----+
|   1|
|   0|
+----+

#<font color=blue> Value_counts

In [ ]:
dataset.toPandas()['chas'].value_counts()

0    471
1     35
Name: chas, dtype: int64

In [ ]:
dataset.groupby('chas').count().show()

+----+-----+
|chas|count|
+----+-----+
|   1|   35|
|   0|  471|
+----+-----+

In [ ]:
dataset.select("chas").count()

506

In [ ]:
dataset.select('chas').show(5)

+----+
|chas|
+----+
|   0|
|   0|
|   0|
|   0|
|   0|
+----+
only showing top 5 rows

In [ ]:
dataset.toPandas()['chas'].head(5)

0    0
1    0
2    0
3    0
4    0
Name: chas, dtype: int32

In [ ]:
dataset.toPandas().chas.value_counts()

0    471
1     35
Name: chas, dtype: int64

In [ ]:
dataset.groupBy('chas').count().orderBy('chas').show()# equivalent of dataaset.chas.value_counts() in Pandas

+----+-----+
|chas|count|
+----+-----+
|   0|  471|
|   1|   35|
+----+-----+

## <font color=blue> Sorting

In [ ]:
dataset.toPandas().sort_values(["medv"]).head(5)

         crim   zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
398  38.35180  0.0   18.1     0  0.693  ...  666     20.2  396.90  30.59   5.0
405  67.92080  0.0   18.1     0  0.693  ...  666     20.2  384.97  22.98   5.0
400  25.04610  0.0   18.1     0  0.693  ...  666     20.2  396.90  26.77   5.6
399   9.91655  0.0   18.1     0  0.693  ...  666     20.2  338.16  29.97   6.3
414  45.74610  0.0   18.1     0  0.693  ...  666     20.2   88.27  36.98   7.0

[5 rows x 14 columns]

In [ ]:
dataset.toPandas().sort_values(['medv']).head(5)

         crim   zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
398  38.35180  0.0   18.1     0  0.693  ...  666     20.2  396.90  30.59   5.0
405  67.92080  0.0   18.1     0  0.693  ...  666     20.2  384.97  22.98   5.0
400  25.04610  0.0   18.1     0  0.693  ...  666     20.2  396.90  26.77   5.6
399   9.91655  0.0   18.1     0  0.693  ...  666     20.2  338.16  29.97   6.3
414  45.74610  0.0   18.1     0  0.693  ...  666     20.2   88.27  36.98   7.0

[5 rows x 14 columns]

In [ ]:
#spark
from pyspark.sql.functions import desc
dataset.sort('medv').show(5)

+-------+---+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|   crim| zn|indus|chas|  nox|   rm|  age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+---+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|67.9208|0.0| 18.1|   0|0.693|5.683|100.0|1.4254| 24|666|   20.2|384.97|22.98| 5.0|
|38.3518|0.0| 18.1|   0|0.693|5.453|100.0|1.4896| 24|666|   20.2| 396.9|30.59| 5.0|
|25.0461|0.0| 18.1|   0|0.693|5.987|100.0|1.5888| 24|666|   20.2| 396.9|26.77| 5.6|
|9.91655|0.0| 18.1|   0|0.693|5.852| 77.8|1.5004| 24|666|   20.2|338.16|29.97| 6.3|
|45.7461|0.0| 18.1|   0|0.693|4.519|100.0|1.6582| 24|666|   20.2| 88.27|36.98| 7.0|
+-------+---+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
only showing top 5 rows

In [ ]:
dataset.sort('medv').show(5) # equivalent of sort_values in Pandas

+-------+---+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|   crim| zn|indus|chas|  nox|   rm|  age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+---+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|67.9208|0.0| 18.1|   0|0.693|5.683|100.0|1.4254| 24|666|   20.2|384.97|22.98| 5.0|
|38.3518|0.0| 18.1|   0|0.693|5.453|100.0|1.4896| 24|666|   20.2| 396.9|30.59| 5.0|
|25.0461|0.0| 18.1|   0|0.693|5.987|100.0|1.5888| 24|666|   20.2| 396.9|26.77| 5.6|
|9.91655|0.0| 18.1|   0|0.693|5.852| 77.8|1.5004| 24|666|   20.2|338.16|29.97| 6.3|
|45.7461|0.0| 18.1|   0|0.693|4.519|100.0|1.6582| 24|666|   20.2| 88.27|36.98| 7.0|
+-------+---+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
only showing top 5 rows

## <font color=blue> Filter

In [ ]:
dataset.toPandas()[dataset.toPandas().medv==24.0].head()

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
235  0.33045   0.0   6.20     0  0.507  ...  307     17.4  376.75  10.88  24.0

[2 rows x 14 columns]

In [ ]:
dataset.filter(dataset.medv==24).show(2)

+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575|65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.33045| 0.0|  6.2|   0|0.507|6.086|61.5|3.6519|  8|307|   17.4|376.75|10.88|24.0|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+

In [ ]:
k=dataset.toPandas()
k[k['medv']==24.0]

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
235  0.33045   0.0   6.20     0  0.507  ...  307     17.4  376.75  10.88  24.0

[2 rows x 14 columns]

In [ ]:
dataset.filter(dataset.medv=='24.0').show()

+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575|65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.33045| 0.0|  6.2|   0|0.507|6.086|61.5|3.6519|  8|307|   17.4|376.75|10.88|24.0|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+

In [ ]:
dataset.filter(dataset.medv=='24.0').show() ## same filter effect in Pandas

+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575|65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.33045| 0.0|  6.2|   0|0.507|6.086|61.5|3.6519|  8|307|   17.4|376.75|10.88|24.0|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+

In [ ]:
dataset.createOrReplaceTempView('foo')# can filter it with an SQL 
df=spark.sql('select * from foo where medv=24.0')
df.show()

+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575|65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.33045| 0.0|  6.2|   0|0.507|6.086|61.5|3.6519|  8|307|   17.4|376.75|10.88|24.0|
+-------+----+-----+----+-----+-----+----+------+---+---+-------+------+-----+----+

In [ ]:
dataset.createOrReplaceTempView('foo')
df=spark.sql('select count(*) from foo where chas=1')
df.show()

+--------+
|count(1)|
+--------+
|      35|
+--------+

In [ ]:
dataset.dtypes

[('crim', 'double'),
 ('zn', 'double'),
 ('indus', 'double'),
 ('chas', 'int'),
 ('nox', 'double'),
 ('rm', 'double'),
 ('age', 'double'),
 ('dis', 'double'),
 ('rad', 'int'),
 ('tax', 'int'),
 ('ptratio', 'double'),
 ('b', 'double'),
 ('lstat', 'double'),
 ('medv', 'double')]

### How to drop a column from a dataframe

In [ ]:
features = dataset.drop('medv')
target = dataset['medv']

In [ ]:
features.show(1)

+-------+----+-----+----+-----+-----+----+----+---+---+-------+-----+-----+
|   crim|  zn|indus|chas|  nox|   rm| age| dis|rad|tax|ptratio|    b|lstat|
+-------+----+-----+----+-----+-----+----+----+---+---+-------+-----+-----+
|0.00632|18.0| 2.31|   0|0.538|6.575|65.2|4.09|  1|296|   15.3|396.9| 4.98|
+-------+----+-----+----+-----+-----+----+----+---+---+-------+-----+-----+
only showing top 1 row

In [ ]:
type(features)

pyspark.sql.dataframe.DataFrame

In [ ]:
dataset.show()# Note drop does affect the original dataframe

+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm|  age|   dis|rad|tax|ptratio|     b|lstat|medv|
+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
|0.00632|18.0| 2.31|   0|0.538|6.575| 65.2|  4.09|  1|296|   15.3| 396.9| 4.98|24.0|
|0.02731| 0.0| 7.07|   0|0.469|6.421| 78.9|4.9671|  2|242|   17.8| 396.9| 9.14|21.6|
|0.02729| 0.0| 7.07|   0|0.469|7.185| 61.1|4.9671|  2|242|   17.8|392.83| 4.03|34.7|
|0.03237| 0.0| 2.18|   0|0.458|6.998| 45.8|6.0622|  3|222|   18.7|394.63| 2.94|33.4|
|0.06905| 0.0| 2.18|   0|0.458|7.147| 54.2|6.0622|  3|222|   18.7| 396.9| 5.33|36.2|
|0.02985| 0.0| 2.18|   0|0.458| 6.43| 58.7|6.0622|  3|222|   18.7|394.12| 5.21|28.7|
|0.08829|12.5| 7.87|   0|0.524|6.012| 66.6|5.5605|  5|311|   15.2| 395.6|12.43|22.9|
|0.14455|12.5| 7.87|   0|0.524|6.172| 96.1|5.9505|  5|311|   15.2| 396.9|19.15|27.1|
|0.21124|12.5| 7.87|   0|0.524|5.631|100.0|6.0821|  5|311|   15.2|386.63|29.93|16.5|
|0.17004|12.5| 7.87|   0|0.524|6.004| 85.9|6.5921|  5|311|   15.2|386.71| 17.1|18.9|
|0.22489|12.5| 7.87|   0|0.524|6.377| 94.3|6.3467|  5|311|   15.2|392.52|20.45|15.0|
|0.11747|12.5| 7.87|   0|0.524|6.009| 82.9|6.2267|  5|311|   15.2| 396.9|13.27|18.9|
|0.09378|12.5| 7.87|   0|0.524|5.889| 39.0|5.4509|  5|311|   15.2| 390.5|15.71|21.7|
|0.62976| 0.0| 8.14|   0|0.538|5.949| 61.8|4.7075|  4|307|   21.0| 396.9| 8.26|20.4|
|0.63796| 0.0| 8.14|   0|0.538|6.096| 84.5|4.4619|  4|307|   21.0|380.02|10.26|18.2|
|0.62739| 0.0| 8.14|   0|0.538|5.834| 56.5|4.4986|  4|307|   21.0|395.62| 8.47|19.9|
|1.05393| 0.0| 8.14|   0|0.538|5.935| 29.3|4.4986|  4|307|   21.0|386.85| 6.58|23.1|
| 0.7842| 0.0| 8.14|   0|0.538| 5.99| 81.7|4.2579|  4|307|   21.0|386.75|14.67|17.5|
|0.80271| 0.0| 8.14|   0|0.538|5.456| 36.6|3.7965|  4|307|   21.0|288.99|11.69|20.2|
| 0.7258| 0.0| 8.14|   0|0.538|5.727| 69.5|3.7965|  4|307|   21.0|390.95|11.28|18.2|
+-------+----+-----+----+-----+-----+-----+------+---+---+-------+------+-----+----+
only showing top 20 rows

Notice that we used InferSchema inside read.csv mofule. InferSchema enables us to infer automatically different data types for each column.

Let us print look into the dataset to see the data types of each column:

In [ ]:
dataset.printSchema()

root
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: integer (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: integer (nullable = true)
 |-- tax: integer (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- b: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)

In [ ]:
dataset.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
crim       506 non-null float64
zn         506 non-null float64
indus      506 non-null float64
chas       506 non-null int32
nox        506 non-null float64
rm         506 non-null float64
age        506 non-null float64
dis        506 non-null float64
rad        506 non-null int32
tax        506 non-null int32
ptratio    506 non-null float64
b          506 non-null float64
lstat      506 non-null float64
medv       506 non-null float64
dtypes: float64(11), int32(3)
memory usage: 49.5 KB

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

Next step is to convert all the features from different columns into a single column and let's call this new vector column as 'features' in the outputCol.

## **Transform data structure**

In [ ]:
#Let's regroup the features and the target (medv) 
from pyspark.ml.linalg import Vectors
dataset_ready = dataset.rdd.map(lambda x: [Vectors.dense(x[0:-2]), x[-1]]).toDF(['features', 'medv'])
dataset_ready.show()

+--------------------+----+
|            features|medv|
+--------------------+----+
|[0.00632,18.0,2.3...|24.0|
|[0.02731,0.0,7.07...|21.6|
|[0.02729,0.0,7.07...|34.7|
|[0.03237,0.0,2.18...|33.4|
|[0.06905,0.0,2.18...|36.2|
|[0.02985,0.0,2.18...|28.7|
|[0.08829,12.5,7.8...|22.9|
|[0.14455,12.5,7.8...|27.1|
|[0.21124,12.5,7.8...|16.5|
|[0.17004,12.5,7.8...|18.9|
|[0.22489,12.5,7.8...|15.0|
|[0.11747,12.5,7.8...|18.9|
|[0.09378,12.5,7.8...|21.7|
|[0.62976,0.0,8.14...|20.4|
|[0.63796,0.0,8.14...|18.2|
|[0.62739,0.0,8.14...|19.9|
|[1.05393,0.0,8.14...|23.1|
|[0.7842,0.0,8.14,...|17.5|
|[0.80271,0.0,8.14...|20.2|
|[0.7258,0.0,8.14,...|18.2|
+--------------------+----+
only showing top 20 rows

In [ ]:
#Another way of grouping the features and target
#Input all the features in one vector column
assembler = VectorAssembler(inputCols=['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat'], outputCol = 'features')

output = assembler.transform(dataset)

#Input vs Output
finalized_data = output.select("features","medv")
finalized_data.show()
print("There are %d rows of data" % finalized_data.count())

+--------------------+----+
|            features|medv|
+--------------------+----+
|[0.00632,18.0,2.3...|24.0|
|[0.02731,0.0,7.07...|21.6|
|[0.02729,0.0,7.07...|34.7|
|[0.03237,0.0,2.18...|33.4|
|[0.06905,0.0,2.18...|36.2|
|[0.02985,0.0,2.18...|28.7|
|[0.08829,12.5,7.8...|22.9|
|[0.14455,12.5,7.8...|27.1|
|[0.21124,12.5,7.8...|16.5|
|[0.17004,12.5,7.8...|18.9|
|[0.22489,12.5,7.8...|15.0|
|[0.11747,12.5,7.8...|18.9|
|[0.09378,12.5,7.8...|21.7|
|[0.62976,0.0,8.14...|20.4|
|[0.63796,0.0,8.14...|18.2|
|[0.62739,0.0,8.14...|19.9|
|[1.05393,0.0,8.14...|23.1|
|[0.7842,0.0,8.14,...|17.5|
|[0.80271,0.0,8.14...|20.2|
|[0.7258,0.0,8.14,...|18.2|
+--------------------+----+
only showing top 20 rows

There are 506 rows of data

Here, 'features' are in the input features from all the columns and 'medv' is the target column.

## **Build linear regression model**

In [ ]:
regressor = LinearRegression(featuresCol = 'features', labelCol = 'medv')

### Let's first use the entire dataset to train then predict ###

## **Fit the model**

In [ ]:
#Learn to fit the model from training set
regressor = regressor.fit(finalized_data)

## **Evaluation**

In [ ]:
#RMSE
print ("RMSE: %.2f" % regressor.summary.rootMeanSquaredError)
#MSE
print ("RMSE: %.2f" % regressor.summary.meanSquaredError)
#MAE
print ("RMSE: %.2f" % regressor.summary.meanAbsoluteError)
#r2
print ("RMSE: %.2f" % regressor.summary.r2)

RMSE: 4.68
RMSE: 21.89
RMSE: 3.27
RMSE: 0.74

## **Train, test, split the dataset**

Next, we should split the training and testing data according to our dataset (0.8 and 0.2 in this case).

In [ ]:
#Split training and testing data
train_data,test_data = finalized_data.randomSplit([0.8,0.2])

## **Build and fit the model with the train dataset**

In [ ]:
regressor = LinearRegression(featuresCol = 'features', labelCol = 'medv')

#Learn to fit the model from training set
regressor = regressor.fit(train_data)

## **Predicting the test dataset using the trained model**

In [ ]:
#To predict the prices on testing set
pred = regressor.transform(test_data)

#Predict the model
pred.show()
print("There are %d rows of  testing data" % pred.count())

+--------------------+----+------------------+
|            features|medv|        prediction|
+--------------------+----+------------------+
|[0.00906,90.0,2.9...|32.2|31.724339224164105|
|[0.01301,35.0,1.5...|32.7|30.458200460541022|
|[0.0136,75.0,4.0,...|18.9|14.783804160798429|
|[0.01501,90.0,1.2...|50.0|45.212141922183584|
|[0.0187,85.0,4.15...|23.1| 25.26929596712828|
|[0.01951,17.5,1.3...|33.0|23.722580462869516|
|[0.03041,0.0,5.19...|18.5|19.370234472735746|
|[0.03237,0.0,2.18...|33.4|28.778040493395483|
|[0.03427,0.0,5.19...|19.5|20.262919862280533|
|[0.04294,28.0,15....|20.6|26.885406165317406|
|[0.04379,80.0,3.3...|19.4|25.158845884864917|
|[0.04417,70.0,2.2...|24.8|30.587679529859546|
|[0.04684,0.0,3.41...|22.6|26.858573768016456|
|[0.05188,0.0,4.49...|22.5|22.062656039518608|
|[0.0536,21.0,5.64...|25.0|27.912223152005957|
|[0.05646,0.0,12.8...|21.2|21.046741356656522|
|[0.0578,0.0,2.46,...|37.2| 32.88234990078489|
|[0.06724,0.0,3.24...|22.6| 24.02011689359559|
|[0.0686,0.0,2.89,...|33.2|32.094746823719845|
|[0.06888,0.0,2.46...|36.2|27.550375501860962|
+--------------------+----+------------------+
only showing top 20 rows

There are 92 rows of  testing data

We can also print the coefficient and intercept of the regression model by using the following command:

In [ ]:
#coefficient of the regression model
coeff = regressor.coefficients

#X and Y intercept
intr = regressor.intercept

print ("The coefficient of the model is : %a" %coeff)
print ("The Intercept of the model is : %f" %intr)

The coefficient of the model is : DenseVector([-0.1081, 0.0446, 0.0435, 2.9703, -15.1585, 4.0317, -0.0046, -1.3772, 0.2994, -0.0144, -0.9632, 0.0086, -0.5127])
The Intercept of the model is : 34.403296

## **Evaluating the model**

Once we are done with the basic linear regression operation, we can go a bit further and analyze our model statistically by importing RegressionEvaluator module from Pyspark.

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(labelCol="medv", predictionCol="prediction")

# Root Mean Square Error
rmse = eval.evaluate(pred)
# rmse = eval.setMetricName('rmse').evaluate(pred)# another way to evaluate
print("RMSE: %.3f" % rmse)

# Mean Square Error
mse = eval.evaluate(pred, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)

# Mean Absolute Error
mae = eval.evaluate(pred, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

# r2 - coefficient of determination
r2 = eval.evaluate(pred, {eval.metricName: "r2"})
print("r2: %.3f" %r2)

RMSE: 5.322
MSE: 28.321
MAE: 3.605
r2: 0.662